{% extends 'base.html' %}
{% block title %} Изменение поста {% endblock %}

{% block content %}
{% if user.is_authenticated %}
{% if user.id == post.author.id %}
<h1>Удаление поста </h1>
<br><br>
<h3>Удаление: {{ post.title }}</h3>

<div class="form-group">
    <form method="POST">
        {% csrf_token %}
      <strong>Ты уверен?</strong>
        <br><br>
        <button class="btn btn-secondary">Удалить пост!</button>
</div>
{% else %}
Ты не можешь сделать это.
{% endif %}
{% else %}
Ты не можешь сделать это.
{% endif %}
{% endblock %}